<div class="navigation {f:if(condition: '{configuration.ajaxEnabled}', then: 'ajax')}" xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
    <div class="button-group">
		<f:switch expression="{calendar.displayPeriod}">
			<f:case value="0">
				<f:render section="actionLink" arguments="{action: 'day', shift: 'previous', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
			<f:case value="1">
				<f:render section="actionLink" arguments="{action: 'week', shift: 'previous', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
			<f:case value="2">
				<f:render section="actionLink" arguments="{action: 'month', shift: 'previous', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
			<f:case value="3">
				<f:render section="actionLink" arguments="{action: 'quarter', shift: 'previous', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
			<f:case value="6">
				<f:render section="actionLink" arguments="{action: 'year', shift: 'previous', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
		</f:switch>

		<f:widget.link
				action="day"
				section="{calendarId}"
				additionalAttributes="{data-calendarId: calendarId}"
				ajax="{configuration.ajaxEnabled}"
				class="button {f:if(condition: '{calendar.displayPeriod} == 0', then: 'active')}"
		><f:translate key="displayPeriod.day" default="Day" /></f:widget.link>
		<f:widget.link
				action="week"
				section="{calendarId}"
				additionalAttributes="{data-calendarId: calendarId}"
				ajax="{configuration.ajaxEnabled}"
				class="button {f:if(condition: '{calendar.displayPeriod} == 1', then: 'active')}"
		><f:translate key="displayPeriod.week" default="Week" /></f:widget.link>
		<f:widget.link
				action="month"
				section="{calendarId}"
				additionalAttributes="{data-calendarId: calendarId}"
				ajax="{configuration.ajaxEnabled}"
				class="button {f:if(condition: '{calendar.displayPeriod} == 2', then: 'active')}"
		><f:translate key="displayPeriod.month" default="Month"/></f:widget.link>
		<f:widget.link
				action="quarter"
				section="{calendarId}"
				additionalAttributes="{data-calendarId: calendarId}"
				ajax="{configuration.ajaxEnabled}"
				class="button {f:if(condition: '{calendar.displayPeriod} == 3', then: 'active')}"
		><f:translate key="displayPeriod.quarter" default="Quarter"/></f:widget.link>
		<f:widget.link
				action="year"
				section="{calendarId}"
				additionalAttributes="{data-calendarId: calendarId}"
				ajax="{configuration.ajaxEnabled}"
				class="button {f:if(condition: '{calendar.displayPeriod} == 6', then: 'active')}"
		><f:translate key="displayPeriod.year" default="Year"/></f:widget.link>

		<f:switch expression="{calendar.displayPeriod}">
			<f:case value="0">
				<f:render section="actionLink" arguments="{action: 'day', shift: 'next', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
			<f:case value="1">
				<f:render section="actionLink" arguments="{action: 'week', shift: 'next', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
			<f:case value="2">
				<f:render section="actionLink" arguments="{action: 'month', shift: 'next', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
			<f:case value="3">
				<f:render section="actionLink" arguments="{action: 'quarter', shift: 'next', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
			<f:case value="6">
				<f:render section="actionLink" arguments="{action: 'year', shift: 'next', configuration: configuration, calendarId: calendarId}"/>
			</f:case>
		</f:switch>
	</div>
</div>

<f:section name="actionLink">
	<f:widget.link
			action="{action}"
			section="{calendarId}"
			additionalAttributes="{data-calendarId: calendarId}"
			ajax="{configuration.ajaxEnabled}"
			arguments="{shift: shift, origin: '{f:format.date(format:\'U\', date: \'{configuration.startDate}\')}'}">
		<f:if condition="{0: shift} == {0: 'previous'}">
			<f:then>
				<i class="fa fa-2x fa-angle-left"></i>
			</f:then>
			<f:else>
				<i class="fa fa-2x fa-angle-right" ></i>
			</f:else>
		</f:if>
	</f:widget.link>
</f:section>
