{namespace t3c=DWenzel\T3calendar\ViewHelpers}
<table class="calendarWeek">
    <thead>
    <tr class="header">
        <td colspan="7" class="navigation">
            <f:if condition="{calendar.currentWeek.days.0.month} == {calendar.currentWeek.days.6.month}">
                <f:then>
                    <span class="legend">{configuration.startDate->f:format.date(format: 'd.')} - {t3c:format.date(base: configuration.startDate, date:'+6 days',format: 'd. F Y')}</span>
                </f:then>
                <f:else>
                    <span class="legend">{configuration.startDate->f:format.date(format: 'd. F Y')} - {t3c:format.date(base: configuration.startDate, date:'+6 days',format: 'd. F Y')}</span>
                </f:else>
            </f:if>
        </td>
    </tr>
    <tr>
        <f:for each="{calendar.weekDayLabels}" as="weekDay">
            <th class="weekDay">{weekDay}</th>
        </f:for>
    </tr>
    </thead>
    <tbody>
    <tr>
        <f:for each="{calendar.currentWeek.days}" as="calendarDay">
            <td class="day {f:if(condition: '{calendarDay.current}', then: 'current')} {f:if(condition: '{calendarDay.hasItems}',then: 'hasEvent')}">
                <div class="labelDay">{calendarDay.day}</div>
                <f:for each="{calendarDay.items}" as="item">
                    <div class="event">
                        <f:render partial="Calendar/Item"
                                  arguments="{
                                    calendar: calendar,
                                    configuration: configuration,
                                    settings: settings,
                                    calendarId: calendarId,
                                    parameters: parameters}"/>
                    </div>
                </f:for>
            </td>
        </f:for>
    </tr>
    </tbody>
</table>

